body {
    background: #fff;
    color: #fff;
}
h1, h2{
    text-align: center;
}
img{
    margin:0 auto;
    display: block;
    max-width:320px;
}
#root, #root2{
    background: #222222;
    padding: 15px;
}
#testApp{
    background: #dd1b16;
    padding: 15px;
}
.angularHeader nav{
    display: flex;
    width: 100vw;
    
}
.angularHeader  nav a{
    text-decoration: none;
    align-items: center;
    color: #292929;
    font-weight: bold;
    flex-grow: 1;
    text-align: center;
    background: #f8dc3d;
    padding: 15px 0;

}
.angularHeader  nav a:last-child{
    background: #007acc;
    color: #fff;
}
#redux-app{
    background: #007acc;
    color: #fff;
}